@font-face {
    font-family: myfont2;
    src: url('Sekate.ttf');
}

.title{
    font-family: myfont2;
    color: #a3080c;
    font-size: 60px;
    margin: 0 auto;
    padding:20px;
    text-align: center;
    }

.main{
    font-size: 30px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}